<mat-tab-group color="accent" class="mat-elevation-z5">
  <mat-tab *ngFor="let link of getProps(list)" [label]="link">
      <mat-grid-list cols="12" rowHeight="40px">
        <div class="tile" *ngFor="let item of list[link]; trackBy: trackFunc">
          <mat-grid-tile
              [colspan]="1"
              [rowspan]="1"
              [matTooltip]="item.name"
              [class.selected]="toggled[item.name]"
              (click)="select(item)">
              <div>
                <div class="image-center"><img [src]="getUrl(item.url)" [alt]="item.name"></div>
                <!-- <p>{{item.name}}</p> -->
            </div>
          </mat-grid-tile>
        </div>
      </mat-grid-list>
  </mat-tab>
</mat-tab-group>

<!-- <nav mat-tab-nav-bar>
  <a mat-tab-link
     *ngFor="let link of tabs"
     [routerLink]=""
     [fragment]="link">
    {{link}}
  </a>
</nav>

<mat-list>
  <div *ngFor="let group of list">
    <h3 mat-subheader [id]="group.name">{{group.name}}</h3>
    <mat-list-item *ngFor="let item of group.items">
      <h4 mat-line>{{item.name}}</h4>
    </mat-list-item>
    <mat-divider></mat-divider>
  </div>
</mat-list>
 -->