.main {
    height: 100vh;
}

app-sidebar-nav {
    height: 49px;
}

mat-sidenav {
    max-height: 100vh;
    height: 100vh;
}

// mat-sidenav-content {
//     margin-left: 25vw !important;
//     width: 75vw;
// }